<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <strong>Challenge</strong>Accepted
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
      <%=link_to raw('<i class="fa fa-search"></i> Explore'), explore_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <!-- Profile picture and dropdown -->
      <a href="<%= challenge_requests_path %>" class="navbar-wagon-item">
        <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-red"><%= all_users_request(current_user) %></div>
          <div class="badge2 badge-blue"><%= @waiting_aproval %></div>
        </div>
      </a>
      <p><strong>Game on</strong>, <%= current_user.name %></p>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= generate_profile_image(current_user) %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to dashboard_path do %>
                <i class="fa fa-line-chart"></i>  <%= t(".dashboard", default: "Dashboard") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>
      <%=link_to raw('<i class="fa fa-search"></i> Explore'), explore_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <!-- Login text link -->
      <%= link_to raw('<i class="fa fa-user-o"></i> Login'), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
    <% if user_signed_in? %>
      <%= generate_profile_image(current_user) %>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li class="game-on">
            <p><strong>Game on</strong>, <%= current_user.name %></p>
          </li>
          <li>
            <%= link_to edit_user_registration_path do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%=link_to raw('<i class="fa fa-search"></i> Explore'), explore_path, class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
          <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% end %>
        <li>
          <%= link_to "#{all_users_request(current_user)} Requests", challenge_requests_path %></li>
        <li>
          <%= link_to dashboard_path do %>
            <i class="fa fa-line-chart"></i>  <%= t(".dashboard", default: "Dashboard") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    <% else %>
      <div class='logout-only-mobile'>
        <%=link_to raw('<i class="fa fa-user-circle "></i>'), new_user_session_path %>
        <%=link_to raw('<i class="fa fa-search"></i>'), explore_path %>
      </div>
    <% end %>
    </div>
  </div>
  <!-- END: Dropdown list appearing on mobile only -->

</div>
