<div class="wrapper-cards">
  <div class="container">
    <h3 class='home-title-type'>Group Challenges</h3>
    <div class="row your-class">

      <% Challenge.where(yourself: false).sample(4).each do |challenge| %>
        <% unless challenge.yourself %>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <div class="card-picture">
                <% if challenge.picture.url %>
                  <%=image_tag challenge.picture.url(:thumb) %>
                <% else %>
                  <div class="no-img"><i class="fa fa-image"></i></div>
                <% end %>
              </div>
               <div class="card-desc text-center">
                <h4>
                  <%= challenge.title %>
                </h4>
              </div>
              <%=link_to challenge.title, challenge_path(challenge), class: "card-link" %>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<div class="wrapper-cards">
  <div class="container">
    <h3 class='home-title-type'>Self Challenges</h3>
    <div class="row your-class">

      <% @self_challenges.each do |challenge| %>
        <% if challenge.yourself %>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <div class="card-picture">
                <% if challenge.picture.url %>
                  <%=image_tag challenge.picture.url(:thumb) %>
                <% else %>
                  <div class="no-img"><i class="fa fa-image"></i></div>
                <% end %>
              </div>
               <div class="card-desc text-center">
                <h4>
                  <%= challenge.title %>
                </h4>
              </div>
              <%=link_to challenge.title, challenge_path(challenge), class: "card-link" %>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
