<div class='banner banner-home'>
  <div class="shadow"></div>
  <div class='container'>
    <div class='banner-content'>
      <div>
        <h1>Challenge your friends</h1>
        <p><strong>Motivate each other :)</strong></p>
        <%=link_to 'Start a challenge', new_challenge_path, class: "btn-create btn-lg" %>
        <%=link_to raw('Explore <i class="fa fa-search"></i>'), challenges_path, class: "btn-lg btn-explore" %>
      </div>
    </div>
  </div>
</div>

<div class='container home-text'>
  <h2 class='home-title'>Staff picks <i class="fa fa-heart"></i></h2>
</div>

<%= render 'cards' %>

<div class='container'>
  <hr>
  <h2 class='text-center'>
    How it works
    <hr class='hr-line'>
  </h2>
  <div class='row text-center components'>
    <div class='col-xs-12 col-sm-6 col-md-4'>
      <%= image_tag("Idea-150.png", size: "150x150") %>
      <h3>Come up with a challenge</h3>
      <p>Or ask to join one</p>
    </div>
    <div class='col-xs-12 col-sm-6 col-md-4'>
      <%= image_tag("friends2.jpg", size: "150x150", class: "img-circle") %>
      <h3>Invite your friends</h3>
      <p></p>
    </div>
    <div class='col-xs-12 col-sm-6 col-md-4'>
      <%= image_tag("heart.png") %>
      <h3>Share and Love</h3>
      <p>Discover what's new and be part of it </p>
    </div>
  </div>
</div>

