<%= simple_form_for(@challenge) do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, placeholder: 'Ex: Ice Bucket challenge' %>
  <%= f.input :description, placeholder: 'Within 24 hours of being challenged, participants have to record a video of themselves in continuous footage...', input_html: {rows: 3} %>
  <%= f.input :rules, placeholder: 'The bucket has to be filled with ice! Don\'t do it with just water', input_html: {rows: 3} %>
  <%= f.input :at_stake, placeholder: 'Ex: Nothing, or $30 each for the winner, or whoever wins get to choose lunch place for a week or whatever you decide' %>
  <%= f.input :picture %>
  <%= f.input :picture_cache, as: :hidden %>
  <div class="row">
    <div class="col-sm-6 form-space-bottom">
      <label class="control-label string optional" for="challenge_start_date">Start date</label>
      <div class="input-group date">
        <%= f.input :start_date, as: :string, input_html: {class:'datepicker'}, label: false %>
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>
    <div class="col-sm-6 form-space-bottom">
      <label class="control-label string optional" for="challenge_end_date">End date</label>
      <div class="input-group date">
        <%= f.input :end_date, as: :string, input_html: {class:'datepicker'}, label: false %>
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>
  </div>
  <div class="bottom-links">
    <%= f.button :submit, class: "btn-primary btn-lg btn-block" %>
  </div>
<% end %>
