<div class="text-center">

  <% Member.all.each do |member| %>
      <!--if this member challenge is equivalent to this challenge id go.. -->
      <% if member.challenge_id == @challenge.id %>

        <!-- if there is has facebook picture, this guy was connected by facebook -->
        <%if User.find(member.user_id).facebook_picture_url %>
          <%= generate_profile_image(User.find(member.user_id))%>
          <%= User.find(member.user_id).first_name %>
          <%= User.find(member.user_id).last_name %>
        <%else%>
          <%= generate_profile_image(User.find(member.user_id)) %>
          <%= User.find(member.user_id).name %>
        <%end%>
      <%end%>
    <%end%>
</div>

