<div class="wrapper-progress-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="progress">
          <% color = "progress-bar-success" if @status_percentage.to_i  >= 100 %>
          <% color = "progress-bar-info"    if (@status_percentage.to_i <= 75 && @status_percentage.to_i < 100) %>
          <% color = "progress-bar-warning" if (@status_percentage.to_i <= 50 && @status_percentage.to_i < 75)  %>
          <% color = "progress-bar-danger"  if (@status_percentage.to_i <= 25 && @status_percentage.to_i < 50)  %>

          <div class="progress-bar <%=color%> active" role="progressbar" aria-valuenow="<%= @status_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @status_percentage %>%;">
            <span class="sr-only"><%= @status_percentage %>% Complete</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <ul class="list-inline progress-bar-info">
          <li class="text-left">
            <strong><%= @status_days_to_finish %></strong> <br>
            Days to finish
          </li>
          <li class="text-left">
            <strong><%= @challenge.members.count %></strong> <br>
            Member(s)
          </li>
          <li class="date text-left">
            <strong><%= (@challenge.start_date).strftime("%d/%m/%y") %></strong> <br>
            Start date
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
