
<div class="row tabs">
  <input type="button" id="about"   class="tab col-xs-4 col-sm-2 col-sm-offset-3" value="about">
  <input type="button" id="message" class="tab col-xs-4 col-sm-2 active" value="Trash talking">
  <input type="button" id="members" class="tab col-xs-4 col-sm-2" value="members">
</div>

<div class="tab-container col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="tab-about tab-invisible">
    <%= render 'about' %>
  </div>
  <div class="tab-message">
    <% if signed_in? %>
      <% unless @challenge.users.where(id: current_user.id).empty? %>
        <%= render 'messages' %>
      <% else %>
        <p class='text-center'>You are not allowed :( </p>
      <% end %>
    <% else %>
      <p class='text-center'>You are not allowed :( </p>
    <% end %>
  </div>
  <div class="tab-members tab-invisible">
    <% if signed_in? %>
      <%= render 'members' %>
    <% else %>
      <p class="text-center">
        <%= Member.where(challenge_id: params[:id]).count %>
        <%= (Member.where(challenge_id: params[:id]).count) == 1 ? 'Member' : 'Members'%>
        in this challenge
      </p>
    <% end %>
  </div>
</div>
