<div class='banner-challenges'>
  <div class='banner-challenges-content'>
    <div class="container">
      <h1 class='text-center explore-title'>Get some inspiration!</h1>
    </div>
  </div>
</div>

<div class="container">
  <h3>Group</h3>
  <div class='row'>
    <% @challenges.where(yourself: false).each do |challenge| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class='card-explore text-center'>
          <% if challenge.picture %>
            <%= link_to challenge_path(challenge) do %>
              <%= cl_image_tag(challenge.picture, width: 150, height: 150, crop: "scale", class: 'img-circle') %>
            <% end %>
          <% else %>
            <div class="no-img"><i class="fa fa-image"></i></div>
          <% end %><br>
          <%=link_to challenge.title, challenge_path(challenge)%>
        </div>
      </div>
    <% end %>
  </div>

  <h3>Self</h3>
  <div class='row'>
    <% @challenges.where(yourself: true).each do |challenge| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class='card-explore text-center'>
          <% if challenge.picture %>
            <%= link_to challenge_path(challenge) do %>
              <%= cl_image_tag(challenge.picture, width: 150, height: 150, crop: "scale", class: 'img-circle') %>
            <% end %>
          <% else %>
            <div class="no-img"><i class="fa fa-image"></i></div>
          <% end %><br>
          <%=link_to challenge.title, challenge_path(challenge)%>
        </div>
      </div>
    <% end %>
  </div>

</div>
