
<%#= form_tag({controller: "challenges", action: "send_invite"}, method: "post") do %>
    <%#= label_tag(:guest_email, "Puts your best friend's email here to invite!") %>
    <%#= text_field_tag(:guest_email) %>
    <%#= submit_tag("Submit") %>
<%# end %>


<%= simple_form_for 'send_invite_challenge_path', :method => "GET" do |f| %>
  <%= f.input :guest_email %>
  <h3> Tasks </h3>
  <% #tasks %>
  <%= f.simple_fields_for :tasks do |task| %>
    <%= render 'task_fields', f: task %>
    <%= link_to_add_association 'add task', f, :tasks %>
    <%= f.submit %>
  <%end%>
<%end%>
