<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2 class="text-center title_invite">Invite your buddies</h2>
      <div class="invite_field">
        <%= simple_form_for @challenge do |f| %>
          <%= f.simple_fields_for :invites, @challenge.invites.last do |invite| %>
            <%= render 'invite_fields', f: invite %>
          <%end%>
          <p class='text-center'>
            <span style="margin-right: 15px;">
            <%= link_to_add_association 'Add', f, :invites, class: 'btn btn-primary' %>
            </span>
            <%#= f.button :submit,  'Send', class: 'btn btn-success'  %>
            <%= link_to "Send", challenge_path(@challenge), data: { confirm: "Your invitation will be sent" },
                        class: 'btn btn-success'%>
          </p>
        <%end%>
      </div>
    </div>
  </div>
</div>
