
<%#= form_tag({controller: "challenges", action: "send_invite"}, method: "post") do %>
    <%#= label_tag(:guest_email, "Puts your best friend's email here to invite!") %>
    <%#= text_field_tag(:guest_email) %>
    <%#= submit_tag("Submit") %>
<%# end %>

<%#= simple_form_for @challenge, path: 'send_invite_path' do |f| %>

<%#= simple_form_for @challenge do |f| %>
<%= simple_form_for @challenge do |f| %>
  <%= f.simple_fields_for :invites, @challenge.invites.last do |invite| %>
  <%#= f.simple_fields_for :invites do |invite| %>
    <%= render 'invite_fields', f: invite %>
    <%#= render 'invite_fields', f: invite %>
    <div class='links'>
      <%= link_to_add_association 'add invite', f, :invites %>
    </div>
  <%end%>
  <%= f.submit %>
<%end%>

