<% if @challenge.picture.nil? %>
<div class="banner banner-show">
<% else %>
<div class="banner banner-show" style="background-image: url('<%= @challenge.picture.url(:wide) %>')">
<% end %>
  <div class="shadow"></div>
  <div class="banner-content">
    <h1><%= @challenge.title %></h1>
  </div>
</div>
<% if @challenge.yourself %>
  <%= render 'self_action_bar' %>
  <div class="container">
    <p class='text-center'><strong>About</strong></p>
    <%= render 'about' %>
  </div>
<% else %>
  <%= render 'action_bar' %>
  <%= render 'status_bar' %>
  <%= render 'tabs' %>
<% end %>

