<div class="container">
  <div class="text-center"> <h3>Choose one member to get your vote!</h3></div>
  <% @members.each do |member| %>
    <!--if this member challenge is equivalent to this challenge id go.. -->
    <div class ="col-sm-2 photo-margin">
      <div class="text-center">
        <% if member.challenge_id == @challenge.id %>
          <!-- if there is has facebook picture, this guy was connected by facebook -->
          <%if member.user.facebook_picture_url %>
            <%= link_to (generate_profile_photo(member.user)), send_vote_challenge_path(@challenge, voted_user_id: member.user.id, member_id: member.id), data: { confirm: "Confirme o seu voto para #{member.user.first_name}." } %>
            <br>
            <%= member.user.first_name %>
            <%= member.user.last_name %>
          <%else%>
            <%= link_to (generate_profile_photo(member.user)), send_vote_challenge_path(@challenge, voted_user_id: member.user.id, member_id: member.id), data: { confirm: "Confirme o seu voto para #{member.user.name}." } %>
            <br>
            <%= member.user.name %>
          <%end%>
        <%end%>
      </div>
    </div>
  <%end%>
</div>
